apiVersion: v1
kind: Service
metadata:
  name: journal
  labels:
    app: journal
spec:
  type: LoadBalancer
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: journal
